#header button,
.navbar li,
.navbar p,
.navbar  a {
  outline: 0;
  -moz-outline: none;
  -moz-user-focus: ignore;
}

#header button {
  height: 34px; /* Chrome needs this */
}

#header .navbar-default {
  background-color: #1a2c51;
}

#header .container {
  background-color: #1a2c51;
}

#header a .router-link-active {
  color: #106cc8;
}

#header .brand-logo-everve {
  width: 100px;
  text-indent: -3000px;
  background: center transparent url("../../../assets/svg/everve-logo-worde.svg") no-repeat;
  background-size: 80px 20px;
}

#header.container {
  background-color: #1a2c51;

}
#header li > a:focus,
.nav > li > a:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: transparent !important;
}
.navbar-btn {
  padding-left: 15px;
}
#header #go {
  color: white !important;
  background-color: #00a000 !important;

}
#header .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffc0cb;
}
