<div class="container">
  <div class="page-header">
    <h1><b>everve meets</b> - an open source, serverless, kitchen-sink demo.</h1>
  </div>
  <p class="lead">Like many developers, we were tired of hearing about the hype around server-less
    architectures and wanted to find out about it first hand. What better way than to build a
    fully featured production quality demo application, open to all ? </p>
  <p>
    It is early days, but we are very encouraged by the community spirit, especially around serverless.
    There is definitely plenty of early adoption pain to go through, but it feels worth it in the end
    in terms of learning and sharing.
  </p>

  <p>
    If you are interested in contributing contact dev-community@everve.co.uk</p>
</div>
